<div class="well">
    <h4>Blog Search</h4>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="keyword" ng-change="searchPost(keyword)">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="searchPost(keyword)">
                <span class="glyphicon glyphicon-search"></span>
        </button>
        </span>
    </div>
    <div ng-if="searchResult.length > 1">
        <h4>Search Result</h4>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li ng-repeat="post in searchResult"><a href="#/post/{{post.id}}">{{post.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>